.container {
    width: 100vw;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem;
}

.header {
    padding-bottom: 2rem;
    color: #000;
    text-align: center;
}

.heading {
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.heading span {
    font-weight: 600;
}

.subHeading {
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    color: #808080;
    width: 60vw;
    word-wrap: break-word;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.leftContainer {
    background-image: url('../../assets/images/img-post-one.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80vw;
    height: 50vh;
    max-height: 300px;
}

.textContainer {
    background: var(--gradient);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    opacity: 0.75;
}

.date {
    font-size: 0.7rem;
    font-weight: 600;
}

.text {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.subText {
    font-size: 0.7rem;
    line-height: 1.05rem;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.newsContainer {
    display: flex;
    margin-bottom: 2rem;
}

.imagePostDiv {
    width: 25vw;
    height: 12vh;
    max-width: 160px;
    max-height: 110px;
}

.newsContent {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.newsDate {
    font-size: 0.7rem;
    font-weight: 600;
    color: #808080;
}

.newsHeading {
    font-size: 0.9rem;
    font-weight: 600;
    color: #000;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.newsText {
    width: 50vw;
    font-size: 0.7rem;
    color: #808080;
    line-height: 1.05rem;
    word-wrap: break-word;
}

.iconDiv {
    height: 2rem;
    width: 2rem;
    border: 2px solid #ff2759;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -30%;
}

@media screen and (min-width: 480px) {
    .iconDiv {
        right: -40%;
    }
}

@media screen and (min-width: 768px) {

    .heading {
        font-size: 2rem;
    }

    .subHeading {
        font-size: 0.8rem;
        letter-spacing: 0px;
    }

    .content {
        flex-direction: row;
    }

    .leftContainer {
        width: 40vw;
        max-width: 550px;
        max-height: 400px;
    }

    .rightContainer {
        margin-top: 0rem;
        padding-left: 2rem;
    }

    .imagePostDiv {
        width: 12vw;
        height: 12vh;
    }

    .date, .newsDate, .subText, .newsText {
        font-size: 0.8rem;
    }

    .text, .newsHeading {
        margin-bottom: 0.5rem;
    }

    .subText, .newsText {
        line-height: 1.15rem;
    }

    .newsText {
        width: 30vw;
    }

    .iconDiv {
        right: -40%;
    }
}

@media screen and (min-width: 1024px) {
    .iconDiv {
        right: -45%;
    }
}
