:root {
    --purple-shade: #700877;
    --pink-shade: #ff2759;
    --gradient: linear-gradient(to right, var(--purple-shade), var(--pink-shade));
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden scroll;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

#root {
    width: inherit;
    height: inherit;
    overflow: inherit;
}